server:
  port: 8082

spring:
  application:
    name: order-service

  config:
    import:
      - optional:classpath:/nacos-common.yml
      - nacos:db-common.yml?refresh=true
      - nacos:common.yml?refresh=true
      - nacos:${spring.application.name}.yml?refresh=true

# Seata 配置
seata:
  enabled: true
  application-id: ${spring.application.name}
  tx-service-group: default_tx_group
  service:
    vgroup-mapping:
      default_tx_group: default
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: 127.0.0.1:8848
      namespace: ""
      group: SEATA_GROUP
  config:
    type: nacos
    nacos:
      server-addr: 127.0.0.1:8848
      namespace: ""
      group: SEATA_GROUP
      data-id: seataServer.properties

# 监控端点配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

# 日志配置
logging:
  level:
    com.luckyh.cloud.order: DEBUG
    io.seata: INFO
